In [1]:
import pandas as pd
import geopandas as gpd
import requests

# Data Preprocessing

### Read data

In [2]:
token = "vAtl2Z7zE587vSL1K0jPGUqgw"

Download zipcode data

In [3]:
raw_zipcode = gpd.read_file("nyc_zipcodes.shp")
raw_zipcode

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((991997.113 176307.496, 992042.798 17..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,10310,0,Staten Island,25003.0,5.346328e+07,NY,Richmond,36,085,http://www.usps.com/,0.0,0.0,"POLYGON ((950767.507 172848.969, 950787.510 17..."
259,11693,0,Far Rockaway,11052.0,3.497516e+06,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1028453.995 167153.410, 1027813.010 ..."
260,11249,0,Brooklyn,28481.0,1.777221e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995877.318 203206.075, 995968.511 20..."
261,10162,1,New York,0.0,2.103489e+04,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((997731.761 219560.922, 997641.948 21..."
262,10119,1,New York,0.0,1.263930e+05,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((986038.661 213051.063, 986135.314 21..."

Download zillow data

In [4]:
raw_zillow = pd.read_csv("zillow_rent_data.csv")
raw_zillow.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1606.206406,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1257.814660,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1701.217520,1706.900064,1706.067787,1723.722320,1735.484670,1752.132904,1756.990323,1754.429516,1757.602011,1755.031490
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1419.480272,1458.063897,1471.726681,1466.734658,1456.175660,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783

Download 311 data with API

In [5]:
# API endpoint URL
url_311 = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json'

# Set up the headers with the API token
headers = {'X-App-Token': token}

# Make the API request
response = requests.get(url_311, headers=headers)
data = response.json()

# Print the data
raw_311= pd.DataFrame(data)
raw_311.head()

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,landmark,closed_date,facility_type,vehicle_type,bridge_highway_name,bridge_highway_segment,bridge_highway_direction,road_ramp,due_date,taxi_pick_up_location
0,59619840,2023-12-03T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,10040,45 WADSWORTH TERRACE,WADSWORTH TERRACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59620909,2023-12-03T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11435,139-06 109 ROAD,109 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,59620796,2023-12-03T01:02:06.000,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11435,143-17 ARCHER AVENUE,ARCHER AVENUE,...,ARCHER AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59616588,2023-12-03T01:01:39.000,NYPD,New York City Police Department,Noise - Residential,Loud Television,Residential Building/House,11216,243 HANCOCK STREET,HANCOCK STREET,...,HANCOCK STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59617646,2023-12-03T01:01:29.000,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,10026,1925 7 AVENUE,7 AVENUE,...,7 AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Download tree data with API

In [6]:
# API endpoint URL
url_tree = 'https://data.cityofnewyork.us/resource/5rq2-4hqu.json'

# Set up the headers with the API token
headers = {'X-App-Token': token}

# Make the API request
response = requests.get(url_tree, headers=headers)
data = response.json()

# Print the data
raw_tree = pd.DataFrame(data)
raw_tree.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,"{'type': 'Point', 'coordinates': [-73.84421521...",3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.72309177,-73.84421522,1027431.14821,202756.768749
1,09/03/2015,200540,315986,"{'type': 'Point', 'coordinates': [-73.81867945...",21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.79411067,-73.81867946,1034455.70109,228644.837379
2,09/05/2015,204026,218365,"{'type': 'Point', 'coordinates': [-73.93660770...",3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.71758074,-73.9366077,1001822.83131,200716.891267
3,09/05/2015,204337,217969,"{'type': 'Point', 'coordinates': [-73.93445615...",10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.71353749,-73.93445616,1002420.35833,199244.253136
4,08/30/2015,189565,223043,"{'type': 'Point', 'coordinates': [-73.97597938...",21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.66677776,-73.97597938,990913.775046,182202.425999

### Removing unnecessary columns

In [7]:
df_zip = raw_zipcode.copy()
columns_to_drop = raw_zipcode.columns[[1, 3, 4, 5, 7, 8, 9, 10, 11]]
df_zipcode_1 = df_zip.drop(columns=columns_to_drop)
df_zipcode_1.head()

  ZIPCODE   PO_NAME  COUNTY                                           geometry
0   11436   Jamaica  Queens  POLYGON ((1038098.252 188138.380, 1038141.936 ...
1   11213  Brooklyn   Kings  POLYGON ((1001613.713 186926.440, 1002314.243 ...
2   11212  Brooklyn   Kings  POLYGON ((1011174.276 183696.338, 1011373.584 ...
3   11225  Brooklyn   Kings  POLYGON ((995908.365 183617.613, 996522.848 18...
4   11218  Brooklyn   Kings  POLYGON ((991997.113 176307.496, 992042.798 17...

In [8]:
df_z = raw_zillow.copy()
df_zillow_1 = pd.concat([df_z.iloc[:, [2, 6]], df_z.iloc[:, 9:]], axis=1)
df_zillow_1.head()

,RegionName,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,77494,Katy,1606.206406,1612.779844,1622.201575,1630.392427,1632.411500,1636.206864,1644.894632,1643.390762,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,77449,Katy,1257.814660,1255.268025,1262.170452,1274.955754,1285.526052,1295.665673,1296.650395,1300.868081,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
2,77084,Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1701.217520,1706.900064,1706.067787,1723.722320,1735.484670,1752.132904,1756.990323,1754.429516,1757.602011,1755.031490
3,79936,El Paso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1419.480272,1458.063897,1471.726681,1466.734658,1456.175660,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
4,11385,New York,NaN,2087.527084,NaN,2149.924252,2166.263698,2148.992886,2190.098591,2264.966715,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783

In [9]:
df_3 = raw_311.copy()
df_311_1 = df_3.loc[:, ["created_date", "complaint_type", "incident_zip", "latitude", "longitude"]]
df_311_1.head()

,created_date,complaint_type,incident_zip,latitude,longitude
0,2023-12-03T12:00:00.000,Derelict Vehicles,10040,40.85588802556055,-73.93156984558253
1,2023-12-03T12:00:00.000,Derelict Vehicles,11435,40.686399707981586,-73.80586446213863
2,2023-12-03T01:02:06.000,Illegal Parking,11435,40.69967547587334,-73.81037713463789
3,2023-12-03T01:01:39.000,Noise - Residential,11216,40.682996353731106,-73.94607925926903
4,2023-12-03T01:01:29.000,Noise - Street/Sidewalk,10026,40.803433276488676,-73.95236059020847

In [10]:
df_t = raw_tree.copy()
df_tree_1 = df_t.loc[:, ["zipcode", "latitude", "longitude", "x_sp", "y_sp"]]
df_tree_1.head()

  zipcode     latitude     longitude           x_sp           y_sp
0   11375  40.72309177  -73.84421522  1027431.14821  202756.768749
1   11357  40.79411067  -73.81867946  1034455.70109  228644.837379
2   11211  40.71758074   -73.9366077  1001822.83131  200716.891267
3   11211  40.71353749  -73.93445616  1002420.35833  199244.253136
4   11215  40.66677776  -73.97597938  990913.775046  182202.425999

### Remove invalid data points

Drop duplication

In [11]:
df_zipcode_2 = df_zipcode_1.drop_duplicates().reset_index(drop=True)
df_zipcode_2

,ZIPCODE,PO_NAME,COUNTY,geometry
0,11436,Jamaica,Queens,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,Brooklyn,Kings,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,Brooklyn,Kings,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,Brooklyn,Kings,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,Brooklyn,Kings,"POLYGON ((991997.113 176307.496, 992042.798 17..."
...,...,...,...,...
257,10310,Staten Island,Richmond,"POLYGON ((950767.507 172848.969, 950787.510 17..."
258,11693,Far Rockaway,Kings,"POLYGON ((1028453.995 167153.410, 1027813.010 ..."
259,11249,Brooklyn,Kings,"POLYGON ((995877.318 203206.075, 995968.511 20..."
260,10162,New York,New York,"POLYGON ((997731.761 219560.922, 997641.948 21..."
261,10119,New York,New York,"POLYGON ((986038.661 213051.063, 986135.314 21..."

Drop the rows in df_zillow outsied NYC

In [12]:
index = df_zillow_1[df_zillow_1['City'] != "New York"].index
df_zillow_2 = df_zillow_1.drop(index).reset_index(drop=True)
df_zillow_2 = df_zillow_2.drop(["City"], axis=1)
df_zillow_2.head()

,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,11385,NaN,2087.527084,NaN,2149.924252,2166.263698,2148.992886,2190.098591,2264.966715,2297.900917,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783
1,11208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2508.670432,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333
2,11236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000
3,10467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2145.642295,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889
4,11373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2199.459063,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444

Change the format of rent dataframe

In [13]:
df_rent_1 = pd.DataFrame(columns=["zipcode", "date", "rent"])
temp_data = []
for index, row in df_zillow_2.iterrows():
    for i in range(len(row)-1):
        temp_data.append({"zipcode": str(int(row[0])), "date": df_zillow_2.columns[i+1], "rent": row[i+1]})
df_rent_1 = pd.concat([df_rent_1, pd.DataFrame(temp_data)], ignore_index=True)
df_rent_1.dropna(subset=['rent'], inplace=True)
df_rent_1 = df_rent_1.reset_index(drop=True)

### Normalize column names & column types where needed

Normalize the name of zipcode colunms

In [14]:
df_311_1.rename(columns={'incident_zip': 'zipcode', 'created_date': 'date'}, inplace=True)
df_311_1.head()

,date,complaint_type,zipcode,latitude,longitude
0,2023-12-03T12:00:00.000,Derelict Vehicles,10040,40.85588802556055,-73.93156984558253
1,2023-12-03T12:00:00.000,Derelict Vehicles,11435,40.686399707981586,-73.80586446213863
2,2023-12-03T01:02:06.000,Illegal Parking,11435,40.69967547587334,-73.81037713463789
3,2023-12-03T01:01:39.000,Noise - Residential,11216,40.682996353731106,-73.94607925926903
4,2023-12-03T01:01:29.000,Noise - Street/Sidewalk,10026,40.803433276488676,-73.95236059020847

In [15]:
df_zipcode_2.rename(columns={'ZIPCODE': 'zipcode'}, inplace=True)
df_zipcode_2.head()

  zipcode   PO_NAME  COUNTY                                           geometry
0   11436   Jamaica  Queens  POLYGON ((1038098.252 188138.380, 1038141.936 ...
1   11213  Brooklyn   Kings  POLYGON ((1001613.713 186926.440, 1002314.243 ...
2   11212  Brooklyn   Kings  POLYGON ((1011174.276 183696.338, 1011373.584 ...
3   11225  Brooklyn   Kings  POLYGON ((995908.365 183617.613, 996522.848 18...
4   11218  Brooklyn   Kings  POLYGON ((991997.113 176307.496, 992042.798 17...

Transform date columns from strings to datetime Python objects

In [16]:
df_311_1['date'] = pd.to_datetime(df_311_1['date'])
print(df_311_1.dtypes)

date              datetime64[ns]
complaint_type            object
zipcode                   object
latitude                  object
longitude                 object
dtype: object

In [17]:
df_rent_1['date'] = pd.to_datetime(df_rent_1['date'])

### Normalize the Spatial Reference Identifiers (SRID) of any geometry.

In [18]:
from shapely.geometry import Point

In [19]:
print(df_zipcode_2.crs)

EPSG:2263

In [20]:
geometry = gpd.points_from_xy(df_tree_1.latitude,  df_tree_1.longitude)
df_tree_2 = gpd.GeoDataFrame(df_tree_1, geometry=geometry)
df_tree_2.crs = "EPSG:2263"
df_tree_2.dtypes

zipcode        object
latitude       object
longitude      object
x_sp           object
y_sp           object
geometry     geometry
dtype: object

In [21]:
geometry = gpd.points_from_xy(df_311_1.longitude, df_311_1.latitude)
df_311_2 = gpd.GeoDataFrame(df_311_1, geometry=geometry)
df_311_2.crs = "EPSG:2263"
df_311_2.dtypes

date              datetime64[ns]
complaint_type            object
zipcode                   object
latitude                  object
longitude                 object
geometry                geometry
dtype: object

# Storing Data

## Create database

In [22]:
!createdb group36project

createdb: error: database creation failed: ERROR:  database "group36project" already exists

In [23]:
!psql --dbname group36project -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

## Create a schema.sql file that defines each table’s schema.

In [24]:
from sqlalchemy import create_engine
from geoalchemy2 import Geometry, WKTElement
engine = create_engine('postgresql:///group36project')
conn = engine.connect()
conn.execute("CREATE EXTENSION IF NOT EXISTS postgis;")

In [25]:
# Get the data types of each column
dtypes = df_zipcode_2.dtypes

# Create a mapping from pandas data types to SQL data types
type_mapping = {
    'int64': 'INTEGER',
    'float64': 'REAL',
    'datetime64[ns]': 'TIMESTAMP',
    'object': 'TEXT',
    'geometry':'geometry(Geometry,2263)' 
}

# Generate SQL definitions for each column
definitions = []
for column, dtype in dtypes.iteritems():
    sql_type = type_mapping[str(dtype)]
    definitions.append(f'    {column} {sql_type}')

# Generate and print the full CREATE TABLE statement
table_name = 'df_zipcode'
sql_zipcode = f'CREATE TABLE IF NOT EXISTS {table_name} ('+ ',\n'.join(definitions) + ',\n PRIMARY KEY (id) \n);'

/var/folders/78/mzvhkg9541qgk1th67dnww8m0000gn/T/ipykernel_23204/2401546956.py:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, dtype in dtypes.iteritems():

In [26]:
# Get the data types of each column
dtypes = df_311_2.dtypes

# Create a mapping from pandas data types to SQL data types
type_mapping = {
    'int64': 'INTEGER',
    'float64': 'REAL',
    'datetime64[ns]': 'TIMESTAMP',
    'object': 'TEXT',
    'geometry':'geometry(Geometry,2263)' 
}

# Generate SQL definitions for each column
definitions = []
for column, dtype in dtypes.iteritems():
    sql_type = type_mapping[str(dtype)]
    definitions.append(f'    {column} {sql_type}')

# Generate and print the full CREATE TABLE statement
table_name = 'df_311'
sql_311 = f'CREATE TABLE IF NOT EXISTS {table_name} ('+ ',\n'.join(definitions) + ',\n PRIMARY KEY (id) \n);'

/var/folders/78/mzvhkg9541qgk1th67dnww8m0000gn/T/ipykernel_23204/870691645.py:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, dtype in dtypes.iteritems():

In [27]:
# Get the data types of each column
dtypes = df_tree_2.dtypes

# Create a mapping from pandas data types to SQL data types
type_mapping = {
    'int64': 'INTEGER',
    'float64': 'REAL',
    'datetime64[ns]': 'TIMESTAMP',
    'object': 'TEXT',
    'geometry':'geometry(Geometry,2263)' 
}

# Generate SQL definitions for each column
definitions = []
for column, dtype in dtypes.iteritems():
    sql_type = type_mapping[str(dtype)]
    definitions.append(f'    {column} {sql_type}')

# Generate and print the full CREATE TABLE statement
table_name = 'df_tree'
sql_tree = f'CREATE TABLE IF NOT EXISTS {table_name} ('+ ',\n'.join(definitions) + ',\n PRIMARY KEY (id) \n);'

/var/folders/78/mzvhkg9541qgk1th67dnww8m0000gn/T/ipykernel_23204/2674050484.py:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, dtype in dtypes.iteritems():

In [28]:
# Get the data types of each column
dtypes = df_rent_1.dtypes

# Create a mapping from pandas data types to SQL data types
type_mapping = {
    'int64': 'INTEGER',
    'float64': 'REAL',
    'datetime64[ns]': 'TIMESTAMP',
    'object': 'TEXT',
    'geometry':'geometry(Geometry,2263)' 
}

# Generate SQL definitions for each column
definitions = []
for column, dtype in dtypes.iteritems():
    sql_type = type_mapping[str(dtype)]
    definitions.append(f'    {column} {sql_type}')

# Generate and print the full CREATE TABLE statement
table_name = 'df_zillow'
sql_zillow = f'CREATE TABLE IF NOT EXISTS {table_name} ('+ ',\n'.join(definitions) + ',\n PRIMARY KEY (id) \n);'

/var/folders/78/mzvhkg9541qgk1th67dnww8m0000gn/T/ipykernel_23204/4065188424.py:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, dtype in dtypes.iteritems():

In [29]:
# Write to 'schema.sql' file
with open('schema.sql', 'w') as f:
    f.write(sql_zipcode)
    f.write(sql_311)
    f.write(sql_tree)
    f.write(sql_zillow)

In [30]:
with open('schema.sql') as f:
    with engine.connect() as connection:
        connection.execute(f.read())

## Add data to database

In [35]:
tablename_to_dataframe = {
    "complaints": df_311_2,
    "trees": df_tree_2,
    "zipcodes": df_zipcode_2,
}

In [37]:
def write_dataframes_to_table(tablename_to_dataframe, db_url):
    # Write each dataframe to its table
    for tablename, df in tablename_to_dataframe.items():
        if 'geometry' in df.columns:
            # Check if the 'geometry' column is already of type 'WKTElement'
            if not isinstance(df['geometry'].iloc[0], WKTElement):
                df['geometry'] = df['geometry'].apply(lambda x: WKTElement(x.wkt, srid=2263))

        df.to_sql(tablename, engine, if_exists='replace', index=False, dtype={'geometry': Geometry('GEOMETRY', srid= 2263)})
        
# Call the function to write data to tables
write_dataframes_to_table(tablename_to_dataframe, 'postgresql:///group36project')

/var/folders/78/mzvhkg9541qgk1th67dnww8m0000gn/T/ipykernel_23204/4148966488.py:7: UserWarning: Geometry column does not contain geometry.
  df['geometry'] = df['geometry'].apply(lambda x: WKTElement(x.wkt, srid=2263))

In [38]:
df_rent_1.to_sql("rent", engine, if_exists='replace', index=True, index_label='id')

39

# Understanding Data

In [40]:
from sqlalchemy import text
def write_query_to_file(query, outfile):
    with open(outfile, 'w') as f:
        f.write(query)

### Query 1

In [41]:
QUERY_1_FILENAME = "Query 1"

In [42]:
# Define your SQL query
QUERY_1 = """
SELECT zipcode, COUNT(*) AS complaints_count
FROM complaints
WHERE date BETWEEN '2022-10-01' AND '2023-09-30'
GROUP BY zipcode
ORDER BY complaints_count DESC;
"""

# Execute the query and fetch the results into a pandas DataFrame
df = pd.read_sql_query(QUERY_1, engine)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [zipcode, complaints_count]
Index: []

In [43]:
with engine.connect() as conn:
    result = conn.execute(text(QUERY_1))
    for row in result:
        print(row)

In [44]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [45]:
QUERY_2_FILENAME = "Query 2"

In [46]:
# Define your SQL query
QUERY_2 = """
SELECT zipcode, COUNT(*) AS trees_count
FROM trees
GROUP BY zipcode
ORDER BY trees_count DESC
LIMIT 10;
"""

# Execute the query and fetch the results into a pandas DataFrame
df = pd.read_sql_query(QUERY_2, engine)

# Display the DataFrame
print(df)

  zipcode  trees_count
0   11375           38
1   11215           35
2   11105           35
3   10023           33
4   10457           31
5   11205           30
6   11226           29
7   10306           28
8   11230           24
9   10458           22

In [47]:
with engine.connect() as conn:
    result = conn.execute(text(QUERY_2))
    for row in result:
        print(row)

('11375', 38)
('11215', 35)
('11105', 35)
('10023', 33)
('10457', 31)
('11205', 30)
('11226', 29)
('10306', 28)
('11230', 24)
('10458', 22)

In [48]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query3

In [49]:
QUERY_3_FILENAME = "Query 3"

In [50]:
QUERY_3 = """
SELECT trees_count.zipcode, CAST(ROUND(CAST(rent.rent AS numeric), 2) AS DECIMAL(10,2)) AS average_rent
FROM (
    SELECT zipcode, COUNT(*) AS trees_count
    FROM trees
    GROUP BY zipcode
    ORDER BY trees_count DESC
    LIMIT 10
) AS trees_count
JOIN rent ON trees_count.zipcode = rent.zipcode
WHERE rent.date = '2023-08-31'
ORDER BY trees_count.trees_count DESC;
"""

df = pd.read_sql_query(QUERY_3, engine)

# 将 average_rent 列转换为带有逗号的格式
df['average_rent'] = df['average_rent'].apply(lambda x: "{:,.2f}".format(x))

print(df)

  zipcode average_rent
0   11375     2,743.40
1   11105     2,852.73
2   11215     3,575.65
3   10023     4,370.07
4   10457     2,183.97
5   11205     3,497.47
6   11226     2,785.32
7   10306     2,331.54
8   11230     2,657.04
9   10458     1,991.63

In [51]:
with engine.connect() as conn:
    result = conn.execute(text(QUERY_3))
    for row in result:
        print(row)

('11375', Decimal('2743.40'))
('11105', Decimal('2852.73'))
('11215', Decimal('3575.65'))
('10023', Decimal('4370.07'))
('10457', Decimal('2183.97'))
('11205', Decimal('3497.47'))
('11226', Decimal('2785.32'))
('10306', Decimal('2331.54'))
('11230', Decimal('2657.04'))
('10458', Decimal('1991.63'))

In [52]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query4

In [53]:
QUERY_4_FILENAME = "Query 4"

In [54]:
QUERY_4 = """
(SELECT h_rent.zipcode, h_rent.rent, trees_count.trees_count, complaints_count.complaints_count 
FROM (
    SELECT zipcode, rent 
    FROM rent
    WHERE date = '2023-01-31'
    ORDER BY rent DESC
    LIMIT 5
) AS h_rent
JOIN  (
    SELECT zipcode, COUNT(*) AS trees_count
    FROM trees
    GROUP BY zipcode
) AS trees_count ON h_rent.zipcode = trees_count.zipcode
JOIN (
    SELECT zipcode, COUNT(*) AS complaints_count
    FROM complaints
    WHERE date BETWEEN '2023-11-21 00:00:00' AND '2023-11-21 23:59:59'
    GROUP BY zipcode
) AS complaints_count ON h_rent.zipcode = complaints_count.zipcode)
UNION ALL
(SELECT l_rent.zipcode, l_rent.rent, trees_count.trees_count, complaints_count.complaints_count 
FROM (
    SELECT zipcode, rent 
    FROM rent
    WHERE date = '2023-01-31'
    ORDER BY rent ASC
    LIMIT 5
) AS l_rent
JOIN  (
    SELECT zipcode, COUNT(*) AS trees_count
    FROM trees
    GROUP BY zipcode
) AS trees_count ON l_rent.zipcode = trees_count.zipcode
JOIN (
    SELECT zipcode, COUNT(*) AS complaints_count
    FROM complaints
    WHERE date BETWEEN '2023-11-21 00:00:00' AND '2023-11-21 23:59:59'
    GROUP BY zipcode
) AS complaints_count ON l_rent.zipcode = complaints_count.zipcode)
"""

df = pd.read_sql_query(QUERY_4, engine)

In [55]:
with engine.connect() as conn:
    result = conn.execute(text(QUERY_4))
    for row in result:
        print(row)

In [56]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

# Visualizing Data